@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kumbh sans'sans-serif;
    font-weight: 400;
}
.container{
    height: 100vh;
   background: hsl(185, 75%, 39%);
    color: hsl(229, 23%, 23%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.top-bg{
    position: absolute;
    background: url(images/bg-pattern-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    top: -528px;
    left: -284px;
}
.bottom-bg{
    position: absolute;
    background: url(images/bg-pattern-bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    bottom: -628px;
    right: -250px;
}
.card{
    background: white;
    height: 376px;
    width: 350px;
    border-radius: 20px;
    position: relative;
}
.bg{
    height: 142px;
    background: url(images/bg-pattern-card.svg);
    border-radius: 20px 20px 0 0;
}
.pic{
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    border-radius: 50%;
    background: white;
    padding: 5px;
    top: 94px;
}
.pic img {
    border-radius: 50%;
}
.pro{
    margin-top: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pro-2{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(0, 0%, 59%)
}
.suck{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    color: very darkblue;
}
.location{
    color: hsl(227, 10%, 46%);
}
.spec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 23px;
    text-align: center;
}
.tutu{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
    color: very darkblue;
}
.spec p{
    color: hsl(227, 10%, 46%);
}
/* media query */
@media(max-width: 375px) {
    .top-bg{
        height: 375px;
        width: 375px;
        top: -160px;
        left: -167px;
    }
    .bottom-bg{
        height: 375px;
        width: 375px;
        bottom: -79px;
        right: -167px
    }
}
